body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
body {
	background-color: #000000;
}
a:link {
	color: #CCCCCC;
}
a:visited {
	color: #666666;
}
a:hover {
	color: #999999;
}
a:active {
	color: #999999;
}
a {
	font-weight: bold;
}
.style1 {font-size: 10px}
